* 
    margin: 0px
    padding: 0px
    list-style: none
    text-decoration: none
    font-family: Arial, Helvetica, sans-serif
    box-sizing: border-box

\:root
    --color: 255,255,255
    --text: 0,0,0